<div class="col-md-3" *ngFor='let game of games'>
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{game.title}}
            <button class="btn btn-danger btn-sm" (click)="deleteGame(game.id, game.title)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img src="{{game.image}}" class="card-img-top zoom" alt="">
        <div class="card-body">
            <p>{{game.platform}}</p>
            <p class="">{{game.val}}</p>
            <a [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block" > <!--(click)="editGame(game.id)"-->
                Editar
            </a>
        </div>
    </div>
</div>